/* Website Styles */

* {
  font-size: 100%;
  margin: 10;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: black;
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 500;
  font-style: italic;
}
h1 {
  font-size: 75px;
  color: #7E10AA;
}

header h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  color: #1087A8;
}

p {
  line-height: 2;
  font-family: Arial, sans-serif;
  color: grey;
}

ul, ol {
  line-height: 2;
  font-family: Arial, sans-serif;
}

section {
  color: grey;
}

a {
  color: #10A87D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: IndianRed;
}

/* img {
  height: 40%;
  width: 50%;
} */

.title {
  font-size: 100px;
}
